body {
	font-family:
Verdana, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f0f0f0;
}

h2{
    text-align: center;
}

#mainn {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

header {
	background-color: #dfcd31;
	color: white;
	text-align: center;
	padding: 1em;
}

nav {
	background-color: #646e0a;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
}

nav li {
	margin: 0;
}

nav a {
	text-decoration: none;
	color: #fff;
	padding: 1em;
	display: block;
	transition: background-color 0.5s ease;
}

nav a:hover {
	background-color: #1278ec;
}

main {
	flex: 1;
	padding: 1em;
}

#content {
	max-width: 1000px;
	margin: 0 auto;
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
}

#content h2 {
	color: #16c3cf;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#gallery img {
    max-width: 100%; 
    height: auto; 
    margin: 10px;
    border: 10px solid grey; 
    box-sizing: border-box;
}